@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700;800;900&family=Montserrat:wght@300;400;500;700;800;900&display=swap');

@import './helpers/mixin.scss';
@import './helpers/variables.scss';
@import './layouts/header.scss';
@import './layouts/hero.scss';
@import './layouts/banner.scss';
@import './layouts/footer.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

html,
body {
	font-family: $font-montserrat;
	font-size: 1rem;
	line-height: 1.5;
	background-color: $color-white;
	color: $color-black;
	overflow-x: hidden;
}

a {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

ul li {
	list-style: none;
}

.flex-start {
	display: flex;
	align-items: start;
}

.flex-center {
	display: flex;
	align-items: center;
}

.learn_more-btn {
	padding-bottom: 0.3em;
	font-size: 1.05rem;
	font-weight: 800;
	border-bottom: 1px dotted $color-black;

	&::after {
		content: '»';
		display: inline-block;
		font-size: 1.375rem;
		font-weight: 400;
		margin-left: 0.25em;
	}
}

.catalog {
	padding: 0 2em;

	@include tablet {
		padding: 0;
	}

	section {
		justify-content: space-between;

		&:nth-child(odd) {
			@include tablet {
				flex-direction: column-reverse;
			}
			.content_block {
				padding-left: 4.5%;

				@include tablet {
					padding: 1em 1.275em;
				}
			}
		}

		&:nth-child(even) {
			flex-direction: row-reverse;

			@include tablet {
				flex-direction: column-reverse;
			}

			.content_block {
				padding-left: 3%;

				@include tablet {
					padding: 1em 1.275em;
				}
			}
		}

		.content_block {
			width: 100%;

			h3 {
				padding-bottom: 0.25em;
				font-weight: 400;
				border-bottom: 1px solid $gray-500;

				@include tablet {
					padding: 0;
					border: none;
				}
			}
			p {
				margin: 1em 0;
				padding-right: 2em;
				line-height: 1.65em;

				@include tablet {
					margin: 0.8em 0;
					padding: 0;
				}
			}
			.btn-group {
				line-height: 2.5em;
			}

			.icon-btn-group {
				display: flex;
				margin-top: 2em;
				gap: 2.875em;

				.icon-btn {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;

					img {
						width: 4em;
						height: auto;
					}
					a {
						padding-bottom: 0.3em;
						font-size: 0.875rem;
						border-bottom: 1px dotted $color-black;

						&::after {
							content: '»';
							display: inline-block;
							font-size: 1.25rem;
							font-weight: 400;
							margin-left: 0.15em;
						}
					}
				}
			}
		}

		img {
			width: 60%;
			height: auto;

			@include tablet {
				width: 100%;
			}
		}
	}
}

.drink {
	padding: 1.5em 1em;
	margin: 0 auto;
	width: 100%;
	max-width: 1350px;

	h1 {
		margin-bottom: 0.875em;
		font-size: 1.875rem;
		font-weight: 400;
	}

	.content {
		@include tablet {
			display: flex;
			flex-direction: column;
		}

		aside {
			position: sticky;
			top: 0;
			padding: 0.8em 0.45em;
			display: flex;
			flex: 0 0 230px;
			flex-direction: column;
			border: 1px solid $gray-300;
			border-radius: 4px;
			font-size: 1.125rem;
			text-align: center;

			@include tablet {
				margin-bottom: 2em;
				padding: 0;
				flex-direction: row;
				flex: 0 0 0;
				flex-wrap: wrap;
				gap: 0.8em;
				border: none;
				font-size: 0.85rem;
			}

			.menu_list {
				display: flex;
				flex-direction: column;

				@include tablet {
					flex-direction: row;
					flex-wrap: wrap;
					gap: 0.8em;
				}

				a {
					color: $color-black;

					@include tablet {
						border: 1px solid $gray-500;
					}
				}
			}

			a {
				display: inline-block;
				padding: 0.6em 2.65em;
				color: $accent-green;
				border-radius: 4px;
				font-size: inherit;
				letter-spacing: 0.025em;

				@include tablet {
					padding: 0.4em 0.8em;
					border: 1px solid $accent-green;
				}

				&:hover {
					background-color: $gray-300;
				}
			}
		}

		article {
			margin-left: 3.6em;

			@include tablet {
				margin: 0 auto;
			}

			h2 {
				margin-bottom: 0.4em;
				font-size: 1.5rem;
				font-weight: 400;
			}

			ul {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 1em 1.5em;

				@include tablet {
					grid-template-columns: repeat(2, 1fr);
					gap: 1em 0.875em;
				}

				li a {
					.img_block {
						margin-bottom: 0.4em;

						img {
							max-width: 225px;
							width: 100%;
							height: auto;

							@include tablet {
								max-width: 450px;
							}
						}
					}

					.title {
						font-size: 1.025rem;
						font-weight: 400;
					}
				}
			}
		}
	}
}
