$font-montserrat: 'Montserrat', sans-serif;
$font-cormorant-garamond: 'Cormorant Garamond', serif;

$starbucks-green: #006140;
$light-green: #d4e9e2;
$accent-green: #02754b;
$house-green: #1e3932;

$gray-100: #f9f9f9;
$gray-300: #f0f0f0;
$gray-500: #a7a7a7;

$almold-100: #fef8f2;
$almold-300: #fceee1;
$almold-500: #ebdac9;

$color-white: #ffffff;
$color-black: #000000;
